<?xml version="1.0"?>
<launch>
	<arg name="threshold" default="11.2" />
	<arg name="file_path" default="$(find limo_demo)/voice/juuden.wav"/>
	<!-- <include file="$(find sound_play)/soundplay_node.launch" /> -->
	<node name="battery" pkg="limo_demo" type="battery" output="screen">
		<param name="threshold" value="$(arg threshold)"/>
		<param name="file_path" value="$(arg file_path)"/>
	</node>
</launch>
